name: Build MiSTer Core

on:
  push:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CORE_NAME: PGM
      REPOSITORY: ${{ github.repository }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SKIP_DIFF_CHECK: true
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: |
          set -x
          curl -s https://raw.githubusercontent.com/MiSTer-unstable-nightlies/Build-Automation_MiSTer/main/build.sh | bash

      - name: Upload RBF
        uses: actions/upload-artifact@v4
        with:
          name: PGM_Core
          path: output/*.rbf
